body{
    margin: 0%;
}
.bar{
    
    width: 1200px;
    height: 1000px;
    padding: 0px 20px;
    display: flex;
    margin-top: 0%;
    justify-content: center;
    margin-left: 200;
}
.header{
    margin: 0%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px;
}
#bt{
    height: 30px;
    margin-top: 30;
}