body{
    margin: 0%;
    font-family: 'Comic Sans MS, Comic Sans, cursive';
    font-size: 50px;
    background-color: black;
}
.bar{

    
    height: 500px;
    padding: 0px 15px;
    display: flex;
    margin: 0% auto;
    justify-content: center;
    
}
button{
    font-family: 'Comic Sans MS, Comic Sans, cursive';
    font-size: 17px;
    border:none;
    background-color: rgb(173, 24, 24);
    color: white;
    border-radius:10px ;
    margin:auto 0% ;
    padding: 12px 10px;
    margin-left: 1%;
}
button:hover{
    background-color:rgb(190, 22, 22) ;
}
button:focus{
    outline: none;
    
}
.header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
    
}
#bt_sort{
    margin-left: 5%;
    padding: 12px 20px;
}
input[type='range' i]:left{
    background-color: red;
}